/*universal selector*/

* {
	box-sizing: border-box;
}

/*tag selector*/

li {
	list-style-type: none;
}

body {
	width: 70%;
	max-width: 985px;
	margin: auto;
	font-family: 'Quicksand', sans-serif;
	color: #767676;
}
header li{
	display: inline-block;
	float: right;
	margin: 3%;
	margin-top: 5%;
	transition: all .2s;
}

header li:hover{
	transform: translateY(4px);	
}

header nav ul {
	height: 130px;
	margin-right: 0; 
	padding: 0;
    overflow: auto;
}

a:link 
{ 
 text-decoration:none; 
 color: inherit;
} 
header a:visited {
    color: inherit;
}

footer a:visited {
    color: inherit;
}
header nav h1{
	display: inline-block;
	margin:0;
	margin-top: 0;
	font-size: 2.8em;
	color: #767676;
	border-top:8px solid #2D7D9A;
	transition: all 0.3s;
}

header nav h1:hover {
	transform: translateX(20px);
}
/*ID selector*/

#header {
	display: block;
}

/*Class selector*/
.nav-main {
	width: 100%;
	margin-top: 0;
	margin-left: 0;
	padding-top: 0;
	font-size: 2em;
	display: inline-block;
	overflow: auto;
}

.main-content {
	display: block;
}

.linkedin-style  {
	font-weight: bold;
	color:#007bb6;
}
/* icons class selector*/

.fa-pencil-square-o{
	color: #424242 ;
	margin-left: 2px;
}

.fa-github{
	color: black;
	margin-left: 2px;
	
}
.fa-linkedin-square{
	color:#0077B5;
}

.fa-facebook{
	color:#3b5999;
}
.fa-instagram{
	
	color:#e4405f ;
}

.fi-social-treehouse{
	color: green;
	font-size: 1.3em;
	margin: 2px;
	
}

.fa-free-code-camp{
	color: black;
	margin: 2px;
}

.fa-codepen{
	color: black;
	margin:2px;
}
.icon-focous{
	transition: all .3s;
}
.icon-focous:hover {
	
	transform: scale(1.4);

}
/* End icons class selector*/
.info {
	text-align: center;
	display: block;
	margin-left: 0;
	
}

.info p{
	text-align: center;
	font-size: 1.8em;
	color: #777171;
	overflow: auto;
}
.social {
	margin-left: 0px;
	padding-left: 0;
}
.social li {
	display: inline-block;
	margin-top: 10px;
	margin-left: 10px;
	
}

.sections-main {
  width: 100%;
  height: 350px;
  margin: auto;		
  overflow: auto;
  text-align: center;
  
}

.main-footer {
  margin-top: 50px;
  padding-bottom: 20px;
  border-top: 2px solid #e2e0e0;
}
.main-footer ul {
	text-align: center;
}
.main-footer li {
	display: inline-block;
	font-size: 1.5em;
	margin:10px;
	transition: all .2s;
}

footer li:hover{
	transform: translateY(4px);	
}

.projects-sec, .skills-sec{
	width: 50%;
	height: 100%;
}
.projects-sec{
	float: left;
	border-right: 2px solid #e2e0e0;

}

.skills-sec {
	float: right;
	overflow: auto;
}

.skills-pos {
	width: 70%;
	margin: auto;
}

.skills-pos p {
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-size: 1.2em;
	margin:10px;
}

.skills-pos i {
	height: 9px;
	font-size: 5em;
	margin-top: -25px;
}

.fi-html5 {
	color: #e34f26;
}

.fi-css3{
	color:#1E90FF;
}

/*.js-icon {
	width: 65px;
	margin: auto;
}
*/
.block-pos {
	display: block;
	
}
.group:after {
  content: "";
  display: table;
  clear: both;
}

